DATABASE_URL_ADMIN='postgresql://admin:password@localhost:5432/nutriscope'
DATABASE_URL_USER='postgresql://user:password@localhost:5432/nutriscope'
SQL_FILE_BDD_OFF='src/database/schema.sql'
EXTRACT_BATCH_SIZE=50000
EXTRACT_SOURCE_PARQUET_FILE='wip/food.parquet'
EXTRACT_OUTPUT_PARQUET_FILE='wip/extract_food.parquet'
EXTRACT_SELECTED_COLUMNS='code,countries_tags,brands,brands_tags,categories,categories_tags,product_name,nutriscore_score,nutriscore_grade,nutriments,lang'
EXTRACT_OUTPUT_NUTRIMENT_PARQUET_FILE='wip/extract_nutriment_food.parquet'
PREPARE_OUTPUT_PARQUET_FILE='wip/data_bdd_food.parquet'
NUTRIMENT_COLUMNS='energy,sugars,saturated_fat,salt,sodium,fiber,proteins,fruits_vegetables_legumes,fat'