DATABASE_URL_ADMIN='postgresql://postgres:admin@localhost:5432/nutriscope'
DATABASE_URL_USER='postgresql://nutriscope_app:admin@localhost:5432/nutriscope'
SQL_FILE_BDD_OFF='src/database/schema.sql'
CSV_FILE_ORIGIN='wip/en.openfoodfacts.org.products.csv'
CSV_FILE_FILTERED='wip/openfoodfacts.filtered.csv'