DATABASE_URL_ADMIN='postgresql://admin:pwd@localhost:5432/nutriscope'
DATABASE_URL_USER='postgresql://user:pwd@localhost:5432/nutriscope'
SQL_FILE_BDD='./src/database/schema.sql'
SQL_FILE_BDD_PIPELINE='./src/database/schema_pipeline.sql'
CSV_FILE_ORIGIN='./wip/en.openfoodfacts.org.products.csv'
CSV_FILE_FILTERED='./wip/openfoodfacts.filtered.csv'